html{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}
.display-top{
    display: flex;
    justify-content: space-between;
}
.app-container{
    border: 1px solid black;
}
.search-container{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
}
.weather-display{
    height: 30rem;
    width: 60rem;
    border: 1px solid black;
}
.convert-button{
    height: 2rem;
    width: 4rem;
    margin: 1rem;
}
